In [1]:
from datetime import date, timedelta

today = date.today()
past7days = today - timedelta(days=7)

In [12]:
import pandas as pd
import pandas_datareader as pdr

stock_code = 'HKEX/00001'

start_date = past7days
end_date = today

df = pdr.DataReader(stock_code, 'quandl', start_date, end_date)
display(df)

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-11-17,52.50,NaN,NaN,52.40,52.50,NaN,52.70,52.25,52.55,2586.0,135674.0,NaN
2021-11-16,52.55,NaN,NaN,52.45,52.55,NaN,52.80,52.25,52.30,2399.0,125887.0,NaN
2021-11-15,52.30,NaN,NaN,52.25,52.30,NaN,52.55,52.00,52.60,3546.0,185430.0,NaN
2021-11-12,52.60,NaN,NaN,52.55,52.60,NaN,53.20,52.50,52.85,2533.0,133564.0,NaN
2021-11-11,52.85,NaN,NaN,52.80,52.85,NaN,53.25,52.40,52.65,4291.0,227149.0,NaN

In [13]:
display(df.iloc[0])

NominalPrice          52.50
NetChange               NaN
Change                  NaN
Bid                   52.40
Ask                   52.50
PEx                     NaN
High                  52.70
Low                   52.25
PreviousClose         52.55
ShareVolume000      2586.00
Turnover000       135674.00
LotSize                 NaN
Name: 2021-11-17 00:00:00, dtype: float64

In [5]:
from datetime import date
from stocks import stock_profile

stocks = stock_profile()
stocks.loadJsonProfile('./stocks.json')
tickers = stocks.getAllStockCodes()
stocks.cacheFromQuandl(tickers, date(2021,7,2), date(2021,7,5))

港交所(0388.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-07-05,455.6,NaN,NaN,455.6,455.8,NaN,462.0,454.0,455.8,4305.0,1964778.0,NaN
2021-07-02,455.8,NaN,NaN,455.6,455.8,NaN,463.8,454.4,462.8,5813.0,2653112.0,NaN

騰訊(0700.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-07-05,554.0,NaN,NaN,553.5,554.0,NaN,572.0,548.5,574.5,43338.0,24111867.0,NaN
2021-07-02,574.5,NaN,NaN,574.0,574.5,NaN,598.5,572.5,584.0,24939.0,14455214.0,NaN

中石油(0857.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-07-05,3.85,NaN,NaN,3.84,3.85,NaN,3.91,3.80,3.79,166603.0,643060.0,NaN
2021-07-02,3.79,NaN,NaN,3.79,3.80,NaN,3.96,3.76,3.78,422164.0,1629595.0,NaN

中海油(0883.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-07-05,8.99,NaN,NaN,8.99,9.00,NaN,9.10,8.89,8.92,86987.0,781251.0,NaN
2021-07-02,8.92,NaN,NaN,8.91,8.92,NaN,9.12,8.88,8.83,133206.0,1199104.0,NaN

建設銀行(0939.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-07-05,6.12,NaN,NaN,6.11,6.12,NaN,6.15,6.07,6.07,188648.0,1155594.0,NaN
2021-07-02,6.07,NaN,NaN,6.07,6.08,NaN,6.13,6.06,6.11,334208.0,2034806.0,NaN

中國移動(0941.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-07-05,48.00,NaN,NaN,47.95,48.0,NaN,48.4,47.85,47.85,20714.0,996382.0,NaN
2021-07-02,47.85,NaN,NaN,47.85,47.9,NaN,48.4,47.85,48.55,31572.0,1515763.0,NaN

比亞迪股份(1211.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-07-05,232.2,NaN,NaN,232.0,232.2,NaN,234.6,217.4,221.2,8322.0,1923108.0,NaN
2021-07-02,221.2,NaN,NaN,221.0,221.2,NaN,226.0,216.0,232.2,12138.0,2684327.0,NaN

小米(1810.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-07-05,25.95,NaN,NaN,25.90,25.95,NaN,26.45,25.65,26.2,121293.0,3136035.0,NaN
2021-07-02,26.20,NaN,NaN,26.15,26.20,NaN,27.00,25.95,27.0,134959.0,3530458.0,NaN

舜宇光學(2382.hk):

,NominalPrice,NetChange,Change,Bid,Ask,PEx,High,Low,PreviousClose,ShareVolume000,Turnover000,LotSize
Date,,,,,,,,,,,,
2021-07-05,242.6,NaN,NaN,242.4,242.6,NaN,246.0,231.6,236.6,5849.0,1413410.0,NaN
2021-07-02,236.6,NaN,NaN,236.6,236.8,NaN,244.8,230.0,245.4,7451.0,1754328.0,NaN

In [ ]:
import yfinance as yf

ticker = yf.Ticker("0001.hk")
ticker.history(period='1day')